Flask==2.0.1
google-cloud-storage==2.16.0
matplotlib
pandas
nltk==3.8.1
gunicorn==20.1.0
psycopg[binary,pool]==3.2.6
psycopg2-binary>=2.9.9
werkzeug==2.0.3
langchain-openai
langchain_core
langgraph
langgraph-checkpoint-postgres
langchain
langchain-community
langchain-experimental
llama-index
llama-index-core
llama-index-embeddings-openai
llama-index-vector-stores-elasticsearch